@CHARSET "UTF-8";

body{
	background-color: #2d2d2d;
}
a { display:block; text-decoration:none;}

ul li { list-style: none; display:inline;  }

.headerTAB li { }
.headerTAB a:FOCUS, a:ACTIVE, a:HOVER {	color: #50ccae; }
.headerTAB a:LINK, a:VISITED { color: #959595; }
